__pycache__
venv
*/hush.py
**/boop.txt
**/url_status.txt
**/._.DS_Store
test.py
pyNet
**/.non_working
**/wip
**/.oldScripts
**/master_sh_playbook.yaml
**/win_master_acc_playbook.yaml
**/win_master_sr3_playbook.yaml