__pycache__
.DS_Store
**/._.DS_Store
ansible-playbook/.DS_Store
venv


**._google_drive_install_playbook.yaml
**/._master_playbook.yaml
**/.non_working
**/wip
**/.oldScripts
**/master_sh_playbook.yaml
**/win_master_acc_playbook.yaml
**/win_master_sr3_playbook.yaml
**/win_chocolatey_acc_playbook.yaml
**/win__ping__.yaml
**/win_reboot_command.yaml

py/._requirements.txt
py/._hush.py
py/._smtp.py
py/._test.py
py/._url.py
*/hush.py
test.py
pyNet
